!!!
html
  head
    title= "Hot Pie - " + title
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')

    meta(name="apple-mobile-web-app-capable", content="yes")
    //- Hack to keep all links in same browser when in iOS app mode.
    script(type="text/javascript")
      (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")

  body

    != partial('admin-menu')

    #header
      h1= title

    - var flashTypes = ['info', 'error']
    each flashType in flashTypes
      if flash[flashType]
        p.flash(class=flashType)
          = flash[flashType]

    != body

    p.thanks
      span.title Hot Pie 
      | is produced by 
      a(href="http://peepcode.com") PeepCode Screencasts
      |.
      br
      | Thanks to 
      a(href="http://sweetandsavorypie.com/") Pie
      |  in Seattle for letting us use their logo and making delicious pies.

  script(src='/socket.io/socket.io.js')
  != js('application')


